WebContent/wsdl/ConsultarCepCorreiosSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultarCepCorreios" targetNamespace="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl">
    
  <wsdl:types>
        
    <xsd:schema targetNamespace="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl">
            
      <xsd:element name="NewOperation">
                
        <xsd:complexType>
                    
          <xsd:sequence>
                        
            <xsd:element name="in" type="xsd:string"/>
                      
          </xsd:sequence>
                  
        </xsd:complexType>
              
      </xsd:element>
            
      <xsd:element name="NewOperationResponse">
                
        <xsd:complexType>
                    
          <xsd:sequence>
                        
            <xsd:element name="out" type="xsd:string"/>
                      
          </xsd:sequence>
                  
        </xsd:complexType>
              
      </xsd:element>
          
    </xsd:schema>
      
  </wsdl:types>
    
  <wsdl:message name="NewOperationRequest">
        
    <wsdl:part element="tns:NewOperation" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="NewOperationResponse">
        
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="ConsultarCepCorreios">
        
    <wsdl:operation name="NewOperation">
            
      <wsdl:input message="tns:NewOperationRequest"/>
            
      <wsdl:output message="tns:NewOperationResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="ConsultarCepCorreiosSOAP" type="tns:ConsultarCepCorreios">
        
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
    <wsdl:operation name="NewOperation">
            
      <soap:operation soapAction="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl/NewOperation"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="ConsultarCepCorreios">
        
    <wsdl:port binding="tns:ConsultarCepCorreiosSOAP" name="ConsultarCepCorreiosSOAP">
            
      <soap:address location="http://tempuri.org/scr/services/ConsultarCepCorreiosSOAP"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
